{% extends 'user/base.html' %}
{% load static %}
{% block content %}
<body class="body">
    {% include 'user/navbar.html' %}

    <div class="container ">
        <div class="row my-2 d-flex flex-row  justify-content-center">
            <div class="col-1 my-1">
                <a href="{% url 'user:account_page' %}" class="btn btn-lg btn-warning border border-dark">Back</a>
            </div>
            <div class="col-7 text-center profile_content">
                <h2><b>Change Password</b></h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row my-3 d-flex flex-row  justify-content-center">
            <div class="col-6 p-4 profile_content ">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="mb-2 row form-group">
                        <div class="col-1"></div>
                        <label for="id_old_password" class="col-4 col-form-label"><h4>Old Password:</h4></label>
                        <div class="col-7">
                            <input class="form-control " type="password" name="old_password" autocomplete="current-password" autofocus required id="id_old_password">
                        </div>
                    </div>
        
                    <div class="mb-2 row form-group">
                        <div class="col-1"></div>
                        <label for="new_password1" class="col-4 col-form-label"><h4>New Password:</h4></label>
                        <div class="col-7">
                            <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">
                            <span class="helptext">
                                <ul>
                                    <li>Your password can't be too similar to your other personal information.</li>
                                    <li>Your password must contain at least 8 characters.</li><li>Your password can't be a commonly used password.</li>
                                    <li>Your password can't be entirely numeric.</li>
                                </ul>
                            </span>
                        </div>
                        <div class="col-4"></div>
                    </div>
            
        
                    <div class="mb-2 row form-group">
                        <label for="id_new_password2" class="col-5 col-form-label"><h4>Confirm password:</h4></label>
                        <div class="col-7">
                            <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
                        </div>
                    </div>
            
                    <div class="mb-2 row form-group">
                        <div class="col-5"></div>
                        <input type="submit" value="Change" class="btn btn-primary border border-dark col-2">
                        <div class="col-5"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>


</body>
{% endblock %}

<!-- <div class="container mt-5 ">
    <div class="row">
        <div class="col-6 profile-update-content p-5">
            <div class="row">
                <div class="col-2">
                    <a href="{% url 'user_account' %}" class="btn btn-lg btn-warning border border-dark mb-5">Back</a>
                </div>
                <div class="col-2"></div>
                <div class="col-8">
                    <h2><b>Change Password</b></h2>
                </div>
                
            </div>
            
            <form action="" method="post">
                {% csrf_token %}
                <div class="mb-2 row form-group">
                    <div class="col-1"></div>
                    <label for="id_old_password" class="col-4 col-form-label"><h4>Old Password:</h4></label>
                    <div class="col-7">
                        <input class="form-control " type="password" name="old_password" autocomplete="current-password" autofocus required id="id_old_password">
                    </div>
                </div>
    
                <div class="mb-2 row form-group">
                    <div class="col-1"></div>
                    <label for="new_password1" class="col-4 col-form-label"><h4>New Password:</h4></label>
                    <div class="col-7">
                        <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">
                        <span class="helptext">
                            <ul>
                                <li>Your password can't be too similar to your other personal information.</li>
                                <li>Your password must contain at least 8 characters.</li><li>Your password can't be a commonly used password.</li>
                                <li>Your password can't be entirely numeric.</li>
                            </ul>
                        </span>
                    </div>
                    <div class="col-4"></div>
                </div>
        
    
                <div class="mb-2 row form-group">
                    <label for="id_new_password2" class="col-5 col-form-label"><h4>Confirm password:</h4></label>
                    <div class="col-7">
                        <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
                    </div>
                </div>
        
                <div class="mb-2 row form-group">
                    <div class="col-5"></div>
                    <input type="submit" value="Change" class="btn btn-primary border border-dark col-2">
                    <div class="col-5"></div>
                </div>
            </form>
        </div>
    </div>
</div> -->